* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  background-image: linear-gradient(to bottom right, rgb(57, 0, 57), rgb(0, 0, 69), rgb(14, 14, 14));
  overflow: hidden;
}

.top-row {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  background-color: rgba(0, 0, 0, 0.15);
  margin: 2em;
  padding: 2em;
  border-radius: 15px;
  height: 40vh;
}

.main-card {
  background-color: rgba(62, 62, 62, 0.25);
  font-size: 3em;
  text-align: center;
  padding: 1.5em;
  border-radius: 10px;
  height: 30vh;
}

.sunrise, .jammah {
  font-size: 1.5em;
}

.sunrise {
  margin-right: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.jammah {
  margin-left: 1em;
}

.sunrise-tag, .jammah-tag {
  font-size: 0.8em;
  font-family: monospace;
  color: rgb(150, 150, 150);
}

.sunrise-value {
  margin-top: 1em
}

.time {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sunrise-icon {
  font-size: 2em;
  padding: 0.5em;
  border: 1px solid rgba(62, 62, 62, 0.7);
  background-color: rgba(62, 62, 62, 0.2);;
  border-radius: 10px;
  margin-left: 0.5em;
}

.jammah-times {
  font-size: 0.7em;
}

.jammah-prayer {
  display: flex;
  justify-content: space-between;
  margin: 0.2em;
  font-size: 0.8em;
}