* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: linear-gradient(to bottom right, rgb(57, 0, 57), rgb(0, 0, 69), rgb(14, 14, 14));
  background-size: cover;
  background-attachment: fixed;
}

.top-bar {
  background-color: rgba(0, 0, 0, 0.25);
  padding: 0.8em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date {
  margin-left: 1.5em;
  font-size: 1em;
  color: rgb(150, 150, 150);
  font-family: monospace;
}

.enable-notifications {
  height: 2.5em;
  padding: 0.5em;
  border-radius: 6px;
  border: 0.5px solid rgb(81, 81, 81);
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.55);
  color: white;
  font-weight: bold;
  margin-right: 2em;
}

.top-row {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  background-color: rgba(0, 0, 0, 0.15);
  margin: 2em;
  padding: 2em;
  border-radius: 15px;
  height: 40vh;
}

.main-card {
  background-color: rgba(62, 62, 62, 0.25);
  font-size: 3em;
  text-align: center;
  padding: 1.5em;
  border-radius: 10px;
  height: 30vh;
}

.sunrise, .jammah {
  font-size: 1.5em;
}

.sunrise {
  margin-right: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.jammah {
  margin-left: 1em;
}

.sunrise-tag, .jammah-tag {
  font-size: 0.8em;
  font-family: monospace;
  color: rgb(150, 150, 150);
}

.sunrise-value {
  margin-top: 1em
}

.time {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sunrise-icon {
  font-size: 2em;
  padding: 0.4em;
  border: 1px solid rgba(62, 62, 62, 0.7);
  background-color: rgba(62, 62, 62, 0.2);;
  border-radius: 10px;
  margin-left: 0.5em;
}

.jammah-times {
  font-size: 0.7em;
}

.jammah-prayer {
  display: flex;
  justify-content: space-between;
  margin: 0.2em;
  font-size: 0.8em;
}

.prayer-cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-color: rgba(0, 0, 0, 0.15);
  margin: 2em;
  padding: 1em;
  border-radius: 15px;
}

.prayer-card {
  background-color: rgba(62, 62, 62, 0.25);
  margin: 1em;
  padding: 2em;
  border-radius: 10px;
}

.prayer-name, .prayer-icon, .prayer-time {
  text-align: center;
}

.prayer-name {
  margin-bottom: 0.6em;
}

.prayer-icon {
  margin: 0 0.5em;
  font-size: 2.5em;
  padding: 0.3em;
  border: 1px solid rgba(62, 62, 62, 0.7);
  background-color: rgba(62, 62, 62, 0.2);;
  border-radius: 10px;
}

.prayer-time {
  font-size: 1.5em;
  padding-top: 1em;
}